	<p>Dog is outside: <%= lifestyle_info.when_outside %></p>
	
	<p>Hours dog is left alone: <%= lifestyle_info.hours_dog_left_alone %></p>
	<p>At night the dog sleeps: <%= lifestyle_info.where_dog_sleep %></p>
	<p>Outside areas available to dog: <%= lifestyle_info.outside_areas %></p>
	<p>Level of exercise: <%= lifestyle_info.preferred_level_of_exercise %></p>
	<p>Type of dog food: <%= lifestyle_info.type_of_dog_food %></p>
  <p>When they go out of town, the dog stays with: <%= lifestyle_info.where_dog_stay %></p>

  