<h1>Add to your Ownership Profile!</h1>

<%= form_tag '/ownership_histories', method: :post do %>
	<div>
		<%= label_tag :application_id %>
		<%= text_field_tag :application_id %>
	</div>
	<div>
		<%= label_tag "Who will groom your dog?" %>
		<%= text_field_tag :who_grooms %>
	</div> 

	<div>
		<%= label_tag "Do you have a current, regular vet?" %>
		<%= check_box_tag( :regular_vet, value = '1', checked = false) %>
	</div>
	<div>
		<%= label_tag "Check the box if your dog will wear a collar." %>
		<%= check_box_tag( :wears_collar , value = '1', checked = false) %>
	</div>
	

	<div>
		<%= label_tag "What is your level of experience owning a dog?" %>
		<%= text_field_tag :experience_level %>
	</div>
	<div>
		<%= label_tag "How would you discipline your dog if he or she misbehaved?" %>
		<%= text_field_tag :discipline_style %>
	</div>
	<div>
		<p>How would you train this dog?</p>
		<%= label_tag "Obedience Classes" %>
		<%= check_box_tag( :training_obedience_class, value = '1', checked = false) %>
		<%= label_tag "Hit with newspaper" %>
		<%= check_box_tag( :training_hit, value = '1', checked = false) %>
		<%= label_tag "Verbal commands" %>
		<%= check_box_tag( :training_verbal, value = '1', checked = false) %>
		<%= label_tag "Clicker/hand signals" %>
		<%= check_box_tag( :training_clicker, value = '1', checked = false) %>
		<%= label_tag "Other" %>
		<%= check_box_tag( :training_other, value = '1', checked = false) %>
	</div>
	<div>
		<%= label_tag "How do you normally walk your dog?" %>
		<%= text_field_tag :dog_walk_style %>
	</div>
	<div>
		<%= label_tag "Are you willing to live with hair on furniture, stains on your rugs, a warm body in your bed, and an animal that might be destructive at times?" %>
		<%= check_box_tag( :ready, value = '1', checked = false) %>
	</div>
	<div>
		<%= label_tag "Pets are an investment of your time and money. Can you afford to provide medical care, grooming, proper diet, shelter and exercise for your new pet?" %>
		<%= check_box_tag( :invested, value = '1', checked = false) %>
	</div>

	<div>
		<p>What would happen to your pets if you moved?</p>
		<div>
			<%= label_tag "Locally?" %>
			<%= text_field_tag :move_locally_plan %>
		</div>
		<div>
			<%= label_tag "Out of state?" %>
			<%= text_field_tag :move_far_plan %>
		</div>
		<div>
			<%= label_tag "Out of the country?" %>
			<%= text_field_tag :move_internationally_plan %>
		</div>
	</div>
	<div>
		<p>Which of the following reasons might prompt you to give up your dog? (Check all that apply) </p>
		<%= label_tag "Excessive Barking" %>
		<%= check_box_tag( :gu_excessive_barking, value = '1', checked = false) %>
		<%= label_tag "Biting" %>
		<%= check_box_tag( :gu_biting, value = '1', checked = false) %>
		<%= label_tag "Digging" %>
		<%= check_box_tag( :gu_digging, value = '1', checked = false) %>
		<%= label_tag "Moving" %>
		<%= check_box_tag( :gu_moving, value = '1', checked = false) %>
		<%= label_tag "Divorce" %>
		<%= check_box_tag( :gu_divorce, value = '1', checked = false) %>
		<%= label_tag "Poor Watchdog" %>
		<%= check_box_tag( :gu_poor_watchdog, value = '1', checked = false) %>
		<%= label_tag "Distructive Chewing" %>
		<%= check_box_tag( :gu_distructive, value = '1', checked = false) %>
		<%= label_tag "Financial Problems" %>
		<%= check_box_tag( :gu_financial, value = '1', checked = false) %>
		<%= label_tag "Occasional accidents indoors" %>
		<%= check_box_tag( :gu_accidents, value = '1', checked = false) %>
		<%= label_tag "Growling at guests" %>
		<%= check_box_tag( :gu_growls, value = '1', checked = false) %>
		<%= label_tag "Excessive Vet Bills" %>
		<%= check_box_tag( :gu_vet_bills, value = '1', checked = false) %>
		<%= label_tag "Shedding" %>
		<%= check_box_tag( :gu_shedding, value = '1', checked = false) %>
		<%= label_tag "Allergies" %>
		<%= check_box_tag( :gu_allergies, value = '1', checked = false) %>
		<%= label_tag "Spouse/Partner doesn't like dog" %>
		<%= check_box_tag( :gu_new_partner, value = '1', checked = false) %>
		<%= label_tag "Aggressive on leash" %>
		<%= check_box_tag( :gu_aggressive, value = '1', checked = false) %>
		<%= label_tag "Other" %>
		<%= check_box_tag( :gu_other, value = '1', checked = false) %>
	</div>


	
<% end %>