<h1><%= "#{current_user.first_name}'s Ownership Profile" %></h1>

<div>
	<p>Has a regular vet: <%= @ownership_profiles.regular_vet %></p>
	<p>Who will groom the dog: <%= @ownership_profiles.who_grooms %></p>
	<p>Will dog wear a collar? <%= @ownership_profiles.wears_collar %></p>
	<p>Experience level: <%= @ownership_profiles.experience_level %></p>
	<p>How would you discipline the dog: <%= @ownership_profiles.discipline_style %></p>
	

</div>
