<h1>Tell us about your pet ownership history!</h1>

<%= form_tag '/ownership_histories', method: :post do %>
	<div>
		<%= label_tag "Application id" %>
		<%= text_field_tag :application_id %>
	</div>
	<div>
		<%= label_tag "How many pets do you currently have?" %>
		<%= text_field_tag  :number_of_current_pets%>
	</div>
	<div>
		<%= label_tag "have you ever allowed your pets to breed?"%>
		<%= check_box_tag(:allowed_breeding, value = '1', checked = false) %>
	</div>

	<%= submit_tag "Enter" %>
<% end %>